In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Deep learning
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [2]:
# Load processed data
df = pd.read_csv("../data/processed/AEP_hourly_processed.csv", index_col="Datetime", parse_dates=True)
df.head()

,AEP_MW,Hour,Day of week,is_weekend,Month,Year,Season_fall,Season_spring,Season_summer,Season_winter,AEP_MW_scaled
Datetime,,,,,,,,,,,
2004-10-01 01:00:00,12379.0,1,4,0,10,2004,True,False,False,False,0.152583
2004-10-01 02:00:00,11935.0,2,4,0,10,2004,True,False,False,False,0.113580
2004-10-01 03:00:00,11692.0,3,4,0,10,2004,True,False,False,False,0.092235
2004-10-01 04:00:00,11597.0,4,4,0,10,2004,True,False,False,False,0.083890
2004-10-01 05:00:00,11681.0,5,4,0,10,2004,True,False,False,False,0.091268